[Unit]
Description=The Minecraft %i Event Monitor
After=syslog.target network.target

[Service]
Type=simple
User=minectl
ExecStart=/usr/local/bin/minemon %i

[Install]
WantedBy=multi-user.target
