[Unit]
Description=The Minecraft %i Server
After=syslog.target network.target

[Service]
Type=simple
User=minectl
ExecStart=/usr/local/bin/mcsrv %i

[Install]
WantedBy=multi-user.target
